*{
    box-sizing: border-box;
    margin: 0;
}

html, body , main{
    margin: 0;
    width: 100%;
    height: 100%;
}


body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(-90deg, #8ec5fc, #e0c3fc);
    display: flex;
    align-items: center;
}

.container{
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 80%;
}

.box_tarefas{
    background-color: white;
    
}

/* div */
.box-text_tarefas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* label */
.text_tarefas{
	margin: 20px 0;
	font-weight: bold;
	font-size: 1.3rem;
	color: #ba7af8;
}

/* input */
.text_input{
    width: 100%;
    height: 90px;
    border: none;
    border-top: solid 1px grey;
    text-align: center;
    resize: none;
    padding-top: 36px;
    font-size: 1.5rem; 
}   

.btn{

    display: flex;
    justify-content: center;
}

button{
    border: none;
    background-color: #ba7af8;;
    width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px;
    border: solid 2px #ccc;
}

/* Lista de tarefas */
.list_tarefas{
    width: 100%;
    }

/* formatação de Linha criada em JS */
.new_tarefa{
    width: 100%;
		padding: 10px;
		
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* formatação de texto criado em JS */
.text_new-tarefas{
    width: 70%;
    font-size: 1.1rem;
    
}

.text_new-tarefas.checked{
    margin: 7px 0px 12px 6px;
    text-decoration: line-through;
    color: #ccc;
}

.btn_del{
    width: 15px;
    text-align: center;
    background-color: transparent;
    color: #ccc;
		border: none;
		color: #ba7af8;
}

.btn_checked{
    width: 50%;
}

.btn_clean{
    width: 50%;
    
}

/* MEDIA QUERY DESKTOP FIRST */

@media (max-width: 420px) {
    .container {
					width: 100%;
					height: 65%;
					margin: 57px;
    }
}